.wan-text {
  --wan-text-font-size: var(--wan-font-size-base);
  --wan-text-color: var(--wan-text-color-regular);
  align-self: center;
  color: var(--wan-text-color);
  font-size: var(--wan-text-font-size);
  margin: 0;
  overflow-wrap: break-word;
  padding: 0;
}
.wan-text.is-truncated {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.wan-text.is-line-clamp {
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.wan-text--large {
  --wan-text-font-size: var(--wan-font-size-medium);
}
.wan-text--default {
  --wan-text-font-size: var(--wan-font-size-base);
}
.wan-text--small {
  --wan-text-font-size: var(--wan-font-size-extra-small);
}
.wan-text.wan-text--primary {
  --wan-text-color: var(--wan-color-primary);
}
.wan-text.wan-text--success {
  --wan-text-color: var(--wan-color-success);
}
.wan-text.wan-text--warning {
  --wan-text-color: var(--wan-color-warning);
}
.wan-text.wan-text--danger {
  --wan-text-color: var(--wan-color-danger);
}
.wan-text.wan-text--error {
  --wan-text-color: var(--wan-color-error);
}
.wan-text.wan-text--info {
  --wan-text-color: var(--wan-color-info);
}
.wan-text > .wan-icon {
  vertical-align: -2px;
}
